.conteiner {
    width: 100%;
    height: 100%; 
    display: flex;
    justify-content: center;
    gap: 2%;
    flex-wrap: wrap;
    align-items: flex-start;
}

.info{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    height: 80%;
    background: rgba(221, 245, 248, 0);
    color: white;
    border-radius: 10px;
    padding: 0px 30px;
    z-index: 3;
}

.info h3{
    color: var(--title);
    text-align: start;
    margin-right: 60%;
    font-weight: 600;
    font-size: 1.7rem;
}

.info p {
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    font-weight: 400;
}

.info a {
    width: 50%;
    height: 9%;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid var(--colorSecu) ;
    background-color: rgba(0, 0, 0, 0.332);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: .5s ease-in-out all;
}

.info a span{
    position: relative;
    transition: .5s ease-in-out all;
    z-index: 2;
}

.info a::after {
    content: "";
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: -120%;
    border-bottom: 55px solid var(--colorSecu);
    border-right: 40px solid rgba(251, 255, 0, 0);
    transition: .5s ease-in-out all;
}

.info a:hover::after{
    left: 0;
    transition: .5s ease-in-out all;
}

.info a:hover{
    border: none;
    transition: .1s ease-in-out all;
}

.divTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    margin: 0;
    padding: 0;
}

.divImage {
    width: 40%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contImage {
    width: 250px;
    height: 250px;
    background: linear-gradient(38deg, rgba(13,159,226,1) 0%, rgba(31,60,120,1) 100%);
    border-radius: 5px;
    padding: 0;
    margin: 0;
}

.image{
    width: 250px;
    height: 253px;
    border-radius: 25px;
    transform: rotateZ(15deg);
    transition: 0.7s;
    filter: grayscale(70%);
}

.image:hover {
    transform: rotateZ(0deg);
    filter: grayscale(0%);
}

@media only screen and (max-width: 945px) {
    .info a::after {
        left: -180%;
    }
    .info h3{
        width: 100%;
        text-align: center;
    }
    .info{
        width: 90%;
        height: 55%;
    }
    .divImage {
        width: 70%;
        height: 25%;
        align-items: end;
    }
    .contImage, .image {
        width: 250px;
        height: 250px;
    }
}

@media only screen and (max-width: 490px) {
    .info{
        width: 100%;
        padding: 0px 30px;
    }
}