.nav {
    width: 100%;
    background-color: #000000;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    margin: 0;
}

.link{
    width: 40%;
    height: 60%;
    z-index: 1;
}

.logo{
    width: 100%;
    height: 100%;
    z-index: 1;
}

.contLogo{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    z-index: 1;
}

.contMode{
    z-index: 1;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.darkMode {
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    padding: 0px 10px   ;
    width: 130px;
    height: 55%;
}

.darkMode img {
    width: 40px;
    height: 80%;
}

.darkMode p {
    font-weight: bold;
}

.btnEs {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    background: linear-gradient(38deg, rgba(13,159,226,1) 0%, rgba(31,60,120,1) 100%);  
}

.btnEs p , .btnEn p{
    font-size: .9rem;
    color: white;
}

.btnEs img, .btnEn img {
    width: 18%;
}

.btnEn {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    background: linear-gradient(38deg, rgba(13,159,226,1) 0%, rgba(31,60,120,1) 100%);
}


.btnEn:hover , .btnEs:hover {
    background: linear-gradient(38deg, rgb(23, 98, 133) 0%, rgba(31,60,120,1) 100%);
}

@media only screen and (max-width: 530px) {
    .contLogo{
        width: 49%;
        padding-left: 1rem;
        justify-content: start;

    }
    .link{
        width: 70%;
        height: 60%;
        z-index: 1;
    }
    .contMode{
        z-index: 1;
        width: 49%;
        height: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
    }
}