body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
  scroll-behavior: smooth;
}

:root {
  /* --bg: #0e0e0f; */
  --bg: #090e19;
  --fontPrimary: #1c365a;
  /* --title: #45f3ff; */
  --title: #0d9fe2;
  /* --colorSecu: #ff0055; */
  --colorSecu: #0d9fe2;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
